@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap";
/*Planos*/
/*Pagamento*/
/*Código para ocultar as setinhas*/
/* Para Firefox */
/* Responsive styles */
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none; }

body {
  background: linear-gradient(180deg, #f5e6d8, #c0c0c0);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px; }

html {
  background: linear-gradient(180deg, #f5e6d8, #c0c0c0);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  backdrop-filter: blur(10px); }
  .header img {
    width: 210px;
    margin-left: -63px; }

.steps {
  position: static;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 40px 0px 0px 0px;
  width: 80%;
  max-width: 800px;
  z-index: 5; }

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .step p {
    color: #000000; }

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-bottom: 10px; }

.active {
  background-color: #FF8802; }

.line {
  width: 100px;
  height: 5px;
  background-color: #ccc;
  margin: 0 20px;
  position: relative; }
  .line span {
    display: block;
    height: 100%;
    width: 0%;
    background-color: #FF8802;
    transition: all 1s linear; }

.line.active span {
  width: 100%; }

.container {
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: 20px; }
  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative; }
    .container .title::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 30px;
      border-radius: 5px;
      background: linear-gradient(135deg, #FF8802, #000000); }

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0; 
 
}

.user-details .input-box {
  position: relative;
  width: calc(100% / 2 - 20px);
  margin-bottom: 25px; }
  .user-details .input-box input {
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #333;
    padding: 0 25px 0 15px;
    transition: 0.5s; }
    .user-details .input-box input:focus ~ label {
      font-size: .6em;
      top: 8px;
      left: 15px;
      color: #FF8802; }
    .user-details .input-box input:not(:placeholder-shown) ~ label {
      font-size: .6em;
      top: 8px;
      left: 15px;
      color: #FF8802; }
  .user-details .input-box label {
    position: absolute;
    font-size: 1em;
    color: #aaa;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s; }

.btn {
  width: 50%;
  max-width: 450px;
  height: 50px;
  margin: 0 0 15px 200px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: radial-gradient(circle, #ff8802 0%, #df7802 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 1.3em;
  color: #fff;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s; }
  .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ff9925;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: 0; }
  .btn:hover::before {
    transform: scaleX(1); }
  .btn span {
    position: relative;
    z-index: 1; }

.login .btn:hover {
  transform: translateY(-2px); }
.login a {
  color: #FF8802;
  text-decoration: none; }
.login:hover a {
  text-decoration: none; }

.op {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  padding-bottom: 50px;
  gap: 20px; }
  .op .plan {
    width: 350px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(204deg, #ff7c01 0%, #2017a0 100%);
    border-radius: 15px;
    box-shadow: 2px 5px 15px black;
    transition: transform 0.3s; }
    .op .plan:hover {
      transform: scale(1.05); }
    .op .plan .plan-title {
      flex: 1;
      padding: 20px;
      border-right: 2px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #f3aa7a;
      text-align: center; }
      .op .plan .plan-title h2 {
        font-size: 25px;
        padding-bottom: 10px; }
      .op .plan .plan-title p span {
        font-size: 30px; }
    .op .plan .plan-content {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .op .plan .plan-content ul {
        padding: 0;
        margin: 0; }
        .op .plan .plan-content ul li {
          list-style: none;
          padding: 5px 0;
          font-size: 14px; }
      .op .plan .plan-content button {
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid #fff;
        transition: 0.3s;
        width: 100px;
        padding: 5px 15px;
        border-radius: 50px;
        outline: none;
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        font-weight: 550;
        align-self: center;
        margin-top: 20px; }
        .op .plan .plan-content button:hover {
          letter-spacing: 1.2px;
          transition: 0.5s;
          color: #000;
          background-color: #fff; }

.container-pay {
  min-height: 5vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 60px; }
  .container-pay form {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
    padding-top: 160px; }
    .container-pay form .inputBox {
      margin-top: 20px; }
      .container-pay form .inputBox span {
        display: block;
        color: #999;
        padding-bottom: 5px; }
      .container-pay form .inputBox input {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        color: #444; }
      .container-pay form .inputBox select {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        color: #444; }
    .container-pay form .flexbox {
      display: flex;
      gap: 15px; }
      .container-pay form .flexbox .inputBox {
        flex: 1 1 150px; }
  .container-pay .card-container {
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px; }
    .container-pay .card-container .front {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(45deg, #FF8802, #2017a0);
      border-radius: 5px;
      backface-visibility: hidden;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
      padding: 20px;
      transform: perspective(1000px) rotateY(0deg);
      transition: transform .4s ease-out; }
      .container-pay .card-container .front .image {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px; }
        .container-pay .card-container .front .image img {
          height: 50px; }
      .container-pay .card-container .front .card-number-box {
        padding: 30px 0;
        font-size: 22px;
        color: #fff; }
      .container-pay .card-container .front .flexbox {
        display: flex; }
        .container-pay .card-container .front .flexbox .box {
          font-size: 15px;
          color: #fff; }
          .container-pay .card-container .front .flexbox .box:nth-child(1) {
            margin-right: auto; }
    .container-pay .card-container .back {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(45deg, #FF8802, #2017a0);
      border-radius: 5px;
      padding: 20px 0;
      text-align: right;
      backface-visibility: hidden;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
      transform: perspective(1000px) rotateY(180deg);
      transition: transform .4s ease-out; }
      .container-pay .card-container .back .stripe {
        background: #000;
        width: 100%;
        margin: 10px 0;
        height: 50px; }
      .container-pay .card-container .back .box {
        padding: 0 20px; }
        .container-pay .card-container .back .box span {
          color: #fff;
          font-size: 15px; }
        .container-pay .card-container .back .box .cvv-box {
          height: 50px;
          padding: 10px;
          margin-top: 5px;
          color: #333;
          background: #fff;
          border-radius: 5px;
          width: 100%; }
        .container-pay .card-container .back .box img {
          margin-top: 30px;
          height: 30px; }

.btn-pay {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-top: 15px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: radial-gradient(circle, #ff8802 0%, #df7802 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 1.3em;
  color: #fff;
  font-weight: 500;
  overflow: hidden;
  transition: transform 0.2s; }
  .btn-pay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ff9925;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: 0; }
  .btn-pay:hover {
    transform: translateY(-2px); }
    .btn-pay:hover::before {
      transform: scaleX(1); }
  .btn-pay span {
    position: relative;
    z-index: 1; }

input[type="number"] {
  -moz-appearance: textfield; }
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    font-size: 14px;
    padding: 10px; }

  .steps {
    max-width: 100%;
    font-size: 14px;
    padding: 10px; }

  .container-pay {
    max-width: 100%;
    font-size: 14px;
    padding: 10px; }

  .user-details .input-box {
    width: 100%; }

  .category {
    flex-direction: column; } }
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.3s linear; }
  .modal.opened {
    pointer-events: all;
    opacity: 1; }
  .modal .modal-inside {
    background-color: #FFF;
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;
    padding: 30px; }
    .modal .modal-inside .modal-container {
      text-align: center; }
      .modal .modal-inside .modal-container .title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 20px; }
      .modal .modal-inside .modal-container .content {
        margin-top: 40px;
        margin-bottom: 40px; }
      .modal .modal-inside .modal-container .actions {
        display: flex;
        justify-content: center;
        column-gap: 20px; }
        .modal .modal-inside .modal-container .actions button {
          border: 0px;
          background-color: #FF8802;
          color: #FFF;
          font-size: 1rem;
          padding: 10px 15px;
          border-radius: 10px;
          cursor: pointer; }

.error-message {
  color: red;
  font-size: 12px;
  position: fixed;
  display: flex;
  margin-left: 15px;
}

.actions {
  display: flex;
  align-items: center; /* Alinha os itens no centro verticalmente */
  gap: 10px; /* Espaçamento entre o botão e o spinner */
}

.carregando {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top: 3px solid #ff8002;
  border-radius: 50%;
  display: none; /* Inicia oculto */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
